*, *::before, *::after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: 'Tenor Sans', sans-serif;
    overflow-x: hidden;
    height: 100%;
}

.background {
    background-image: url(formSuccess/formpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 10px rgba(255,215,0,0.5) solid;
    border-bottom: 10px rgba(255,215,0,0.5) solid;
}

.thumbs-up {
    font-size: 10em;
    color: white;
}

.form-submission-message {
    font-size: 2em;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    text-shadow: 2px 2px #000;
}

.button {
    padding: 3em;
    text-align: center;
    margin: 0 auto;
}

.form-button {
    background-color: white;
    color: black;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    max-width: 20vw;
    font-size: 2em;
    padding: 20px;
    margin: 0 auto;
    border-radius: 15px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

.form-button:hover {
    background-color: rgba(255,215,0,0.5);
    color: white;
}



@media (max-width: 900px) {
    .form-button {
        min-width: 60vw;
    }
}


