
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    line-height: 1.5;
    font-family: 'Tenor Sans', sans-serif;
    color: #414141;
    background: #F5F5F5;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.container-two {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}


/*Hero*/


.hero {
    background-image: url(img/seoul-market.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.hero h1 {
    color: #fff;
    line-height: 1;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Dosis', sans-serif;
    position: relative;
    top: -2em;
}

.fly-in-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
    display: inline-block;
    font-family: 'Tenor Sans', sans-serif;
    color: #FFD700;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 25px;
    opacity: 1;
    transition: all 2.5s ease;
    -moz-transition: all 2.5s ease;
	-webkit-transition: all 2.5s ease;
	-o-transition: all 2.5s ease; 	
}

.fly-in-text li:last-child {
    margin-right: 0;
}

.fly-in-text.hidden li {
    opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) {
    transform: translateX(-200px) translateY(-200px);
    -ms-transform: translateX(-200px) translateY(-200px);
    -webkit-transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(2) {
    transform: translateX(20px) translateY(100px);
    -ms-transform: translateX(20px) translateY(100px);
    -webkit-transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(3) {
    transform: translateX(-150px) translateY(-80px);
    -ms-transform: translateX(-150px) translateY(-80px);
    -webkit-transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(4) {
    transform: translateX(10px) translateY(-200px);
    -ms-transform: translateX(10px) translateY(-200px);
    -webkit-transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(5) {
    transform: translateX(-300px) translateY(200px);
    -ms-transform: translateX(-300px) translateY(200px);
    -webkit-transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(6) {
    transform: translateX(-175px) translateY(-20px);
    -ms-transform: translateX(-175px) translateY(-20px);
    -webkit-transform: translateX(-175px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(7) {
    transform: translateX(40px) translateY(300px);
    -ms-transform: translateX(40px) translateY(300px);
    -webkit-transform: translateX(40px) translateY(300px);
}

.fly-in-text.hidden li:nth-child(8) {
    transform: translateX(90px) translateY(-125px);
    -ms-transform: translateX(90px) translateY(-125px);
    -webkit-transform: translateX(90px) translateY(-125px);
}

.fly-in-text.hidden li:nth-child(9) {
    transform: translateX(325px) translateY(15px);
    -ms-transform: translateX(325px) translateY(15px);
    -webkit-transform: translateX(325px) translateY(15px);
}

.fly-in-text.hidden li:nth-child(10) {
    transform: translateX(-50px) translateY(-75px);
    -ms-transform: translateX(-50px) translateY(-75px);
    -webkit-transform: translateX(-50px) translateY(-75px);
}

.fly-in-text.hidden li:nth-child(11) {
    transform: translateX(30px) translateY(-140px);
    -ms-transform: translateX(30px) translateY(-140px);
    -webkit-transform: translateX(30px) translateY(-140px);
}



/*Navigation slide in and out*/


.menu-button i {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    font-size: 60px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
     transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-property: color, transform;
    -webkit-transition-property: color, transform;
}

.menu-button i:hover {
    color: rgba(255,215,0,0.5);
    transform: rotate(180deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.menu-button i:focus {
    color: rgba(255,215,0,0.5);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}


nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform ease-in-out 250ms;
}

.nav-open {
    height: 100vh;
    overflow: hidden;
}

.nav-open nav {
    transform: translateX(0);
}

.nav-open .container-all {
    transform: translateX(80%);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: stretch;
    background: #414141;
    overflow: hidden;
}

nav li {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    text-align: center;
}

nav li:hover {
    background:rgba(255,215,0,0.5);
}

nav li:focus {
    background:rgba(255,215,0,0.5);
}

nav a {
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
    padding: calc(100vh/8) 0;
    line-height: 0;
}

.close {
    display: none;
}

.nav-open .close {
    display: block;
}

.nav-open .globe {
    display: none;
}


/*Welcome*/


.welcome {
    display: flex;
}

.welcome-middle {
    color: #414141;
    padding: 3em 5vw;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0,0,0,0.1);
}

.welcome-middle h2 {
    font-family: 'Dosis', sans-serif;
    color: darkgoldenrod;
    padding: 1em;
}

.welcome-middle h2::after {
    content: '';
    width: 30%;
    height: 2px;
    background: #414141;
    display: block;
    margin: 1em auto 0;
}

@supports (display: grid) {
    .welcome {
        display: grid;
        grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
    }
}

.welcome-left img, .welcome-right img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    display: block;
}


/*About Me*/

.about-me {
    margin-top: 3em;
    margin-bottom: 1em;
}

.about-me-container {
    display: grid;
    grid-template-columns:[port-start] minmax(6em,1fr) [name-start] minmax(6em,1fr) [img-end] 2fr [port-end];
    grid-column-gap: 1em;
}

.about-img {
    grid-column: port-start / img-end;
    grid-row: 1 / 2;
    width: 350px;
}

.about-title {
    grid-column: name-start / port-end;
    grid-row: 1 / 2;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px;
    color: #FFD700;
    align-self: flex-end;
}

.about-title span {
    display: block;
}

.about-subtitle, .about-text {
    grid-column: port-start / port-end;
}

.about-subtitle {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Dosis', sans-serif;
    color: darkgoldenrod;
}

.about-text {
    margin-top: 1em;
    font-size: 18px;
}

.about-para-one {
    padding: 20px 0 20px 0;
}

.about-para-two {
    padding: 0 0 20px 0;
}

.hideme {
    opacity: 0;
}


/* Countries */


.countries {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    background-color: #fff;
}

.countries-title-div {
    background: url(img/destinations-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.countries-title {
    color: #FFD700;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-transform: capitalize;
    width: 50%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.grid-item-title span {
    display: block;
}

.continent-title {
    color: #fff;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    padding: 1em 0;
}

.country-item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.country-item img {
    display: block;
}

.country-figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 2em;
    transition: top ease-in-out 500ms;
}

.country-item:hover figcaption {
    top: 0;
}

.country-item:focus figcaption {
    top: 0;
}

.country-title {
    font-size: 2rem;
    margin-bottom: auto;
    text-transform: capitalize;
    color: #FFD700;
}

.country-desc {
    padding-bottom: 2em;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.country-link {
    text-decoration: none;
    color: #FFD700;
    font-weight: bolder;
    font-size: 1.5rem;
    align-self: flex-start;
    position: relative;
}

.country-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #FFD700;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.country-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

@supports (display: grid) {
    .nations-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}


/* Contact Us*/


.contact {
    background: #f5f5f5;
    width: 100%;
}

.contact-left img, .contact-right img {
    display: none;
}

.form-center {
    display: block;
    text-align: center;
    padding: 20px;
}

.form-center form {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 550px;
}

.contact h2 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-transform: capitalize;
    color: darkgoldenrod;
    padding-top: 30px;
}

label {
    display: block;
    margin-top: 1em;
    text-transform: capitalize;
    font-size: 1.1em;
    color: #414141;
}

input, textarea {
    display: block;
    padding: 0.75em;
    width: 100%;
    border: 1px solid black;
    font-size: 1rem;
    color: #414141;
    border-radius: 5px;
}

.button {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    background: #414141;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 20vw;
    font-size: 12px;
}

.button:hover {
    color: #FFD700;
}

.button:focus {
    color: #FFD700;
}


/*footer*/



footer {
    background: #414141;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: #fff;
}

.footer-paragraph {
    text-transform: capitalize;
    font-size: 35px;
    padding-bottom: 1em;
    color: darkgoldenrod;
    font-family: 'Dosis', sans-serif;
}

.social-icons  {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding-bottom: 1em;
}

.social-icon i {
    color: #fff;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-property: color, transform;
    -webkit-transition-property: color, transform;
}

.social-icon i:hover {
    color: #FFD700;
    cursor: pointer;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

.social-icon i:focus {
    color: #FFD700;
    cursor: pointer;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

.copyright {
    text-transform: capitalize;
    padding: 1em;
}

.copyright span a {
    color: darkgoldenrod;
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
}

.copyright span a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: darkgoldenrod;
    bottom: 0;
    left: 0;
    margin-bottom: -10px;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.copyright span a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}


/*Top of page button*/


.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:0;
	right:0;	
}

.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:rgba(0,0,0,0.6);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll:hover {
	background:rgba(0,0,0,0.8);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll:focus {
    background:rgba(0,0,0,0.8);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll .fa {
	font-size:40px;
    color: darkgoldenrod;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

/*Loading Spinner*/


#overlay {
    height: 100%;
    width:100%;
    background: rgba(0,0,0, .9);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content:center;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #fff;
    border-top-color: darkgoldenrod;
    border-radius: 100%;
    margin-top: 400px;
    animation: round 1s linear infinite;
}
    
    @keyframes round {
        from{transform: rotate(0deg)}
        to {transform: rotate(360deg)}
    }




/* Media Queries */


@media (min-width: 600px) {
    .hero h1 {
        font-size: 35px;
        top: -100px;
    }

    .fly-in-text li {
        font-size: 5vw;
        letter-spacing: 20px;
    }
    
      .welcome-middle h2 {
        font-size: 30px;
    }
    
    .country-item img {
        height: 300px;
        width: auto;
    }
    
    @supports (display: grid) {
    .nations-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media (min-width: 900px) {
    
    .menu-button i {
    font-size: 80px;
}
    
    .about-text {
    font-size: 1.2rem;
    }
    
    .about-img {
    grid-row: 1 / 4;
    }
    
    .about-subtitle, .about-text {
    grid-column: img-end / port-end;
    margin: 0;
    }
    
    .about-text {
        padding-top: 50px;
    }
    
    .about-layout {
        grid-row: 1/4;
    }
    
    @supports (display: grid) {
    .nations-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    }
    
    @supports (display: grid) {
    .contact {
        display: grid;
        grid-template-columns: minmax(2em, 1fr) minmax(auto, 40em) minmax(2em, 1fr);
    }
}

.contact-left img, .contact-right img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    display: block;
}
    
}


@media (min-width: 1200px) {
    
    .menu-button i {
    font-size: 100px;
}
    
    .welcome-middle p {
        font-size: 20px;
    }
    
    .hero h1 {
        font-size: 45px;
        top: -100px;
    }
    
    .fly-in-text {
        top: 60%;
    }
    
    .fly-in-text li {
        font-size: 80px;
        letter-spacing: 30px;
    }
    
    .about-me-container {
        grid-template-columns:[port-start] minmax(6em,1fr) [name-start] minmax(2em,0fr) [img-end] 2fr [port-end];
    }
    
    .about-title {
        font-size: 60px;
        grid-column: port-start;
    }
    
    .about-subtitle {
        font-size: 40px;
    }
    
    .country-item {
        -webkit-box-shadow: 10px 7px 5px 2px rgba(0,0,0,0.44);
        -moz-box-shadow: 10px 7px 5px 2px rgba(0,0,0,0.44);
        box-shadow: 10px 7px 5px 2px rgba(0,0,0,0.44);
    }
    
    .countries h2 {
        font-size: 100px;
    }
    
    .nations-grid {
        grid-gap: 2em;
        padding-top: 30px;
    }
    
    .social-icons  {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    padding: 20px
}
    
    .social-icons a {
    padding-right: 2em;
    padding-left: 2em;
    font-size: 1.1em;
}
    
    .button {
    max-width: 10vw;
}


}
    
    @media (min-width: 1500px) {
        .fly-in-text li {
        font-size: 100px;
        letter-spacing: 50px;
    }
    }























