* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Tenor Sans', sans-serif;
    color: #414141;
    background: #fff;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}


/*Hero*/


.hero {
    background-image: url(img/seoul-market.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero h1 {
    color: #fff;
    line-height: 1;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Dosis', sans-serif;
}

.hero h1 span {
    color: #FF6A5C;
    display: block;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 15px;
    text-transform: uppercase;
    padding: 50px;
}

.hero h1::before {
    content: '';
    display: block;
    margin: 0 auto 2em;
    width: 60%;
    height:2px;
    background: #fff;
}

.hero h1::after {
    content: '';
    display: block;
    margin: 2em auto 0;
    width: 60%;
    height: 2px;
    background: #fff;
}


/*Welcome*/


.welcome {
    display: flex;
}

.welcome-middle {
    background: #414141;
    color: #fff;
    padding: 3em 5vw;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-middle h2 {
    font-family: 'Dosis', sans-serif;
    color: #FF6A5C;
    padding: 1em;
}

.welcome-middle h2::after {
    content: '';
    width: 30%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 1em auto 0;
}

@supports (display: grid) {
    .welcome {
        display: grid;
        grid-template-columns: minmax(4em, 1fr) minmax(auto, 25em) minmax(4em, 1fr);
    }
}

.welcome-left img, .welcome-right img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    display: block;
}


/*About Me*/

.about-me {
    margin-bottom: 20px;
}

.about-me-container {
    display: grid;
    grid-template-columns:[port-start] minmax(6em,1fr) [name-start] minmax(6em,1fr) [img-end] 2fr [port-end];
}

.about-img {
    grid-column: port-start / img-end;
    grid-row: 1 / 2;
}

.about-title {
    grid-column: name-start / port-end;
    grid-row: 1 / 2;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px;
    color: #FF6A5C;
    align-self: flex-end;
}

.about-title span {
    display: block;
}

.about-subtitle, .about-text {
    grid-column: port-start / port-end;
}

.about-subtitle {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 22px;
}

.about-text {
    margin-top: 1em;
    font-size: 16px;
}

.about-para-one, about-para-two {
    padding: 20px 0;
}







